@charset "UTF-8";

.passion-one-regular { font-family: "Passion One", sans-serif; peso da fonte: 400; estilo de fonte: normal; } .passion-one-bold { font-family: "Passion One", sans-serif; peso da fonte: 700; estilo de fonte: normal; } .passion-one-black { font-family: "Passion One", sans-serif; peso da fonte: 900; estilo de fonte: normal; }

.sriracha-regular {família de fontes: "Sriracha", cursiva; peso da fonte: 400; estilo de fonte: normal; }


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'passion one', cursive;
    --fonte3: 'sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

 header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

 hader a:hover, footer a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > P {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(58, 56, 56, 0.945);
    color: white;
    box-shadow:  6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image:url('../imagens/background001.jpg') ;
    background-position: right center;
    
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}